<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="gallery" >
      <img
        src="/uploads/<%=user.image %>"
        alt=""
        width="200px"
        height="200px"
      />

      <div class="desc">
        <h2>Name: <%= user.name %></h2>
        <h2>Email: </h2>
        <h3><%= user.email %></h3>
      </div>
      <h1>Go to Form:<a href="/form">Form</a></h1>
    </div>
  </body>
</html>
