<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="form_css">
      <form action="/data" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required /><br />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br />
        <input type="file" name="image" required /> <br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
